.Main-Part {
  height: 85%;
  background: linear-gradient(
      to bottom,
      rgba(89, 185, 230, 1),
      rgba(28, 96, 118, 0.5)
    ),
    url("background.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  margin: 0;
}
header button {
  background-color: rgb(28, 96, 118);
  color: white;
  border-radius: 5%;
  margin-top: 5%;
}
header button:hover {
  background-color: rgb(82, 127, 142);
  color: white;
}
.user_profile {
  border-radius: 100%;
  max-height: 25px;
}
.Gallery {
  background-color: rgb(169, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 0;
  padding-top: 10%;
}
.Gallery ul {
  justify-content: center;
  align-items: center;
}
.image {
  background-color: lightgray;
  max-width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10%;
  padding: 3%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.image h2 {
  color: rgb(121, 109, 109);
}
.image textarea {
  width: 100%;
}
.image button {
  background-color: rgb(70, 65, 65);
  color: white;
  border-radius: 5%;
  margin-top: 5%;
}
.image button:hover {
  background-color: rgb(204, 199, 199);
  color: black;
}
.image .deleteButton {
  background-color: rgb(70, 65, 65);
  color: white;
  border-radius: 5%;
  margin-top: 5%;
  height: 20 px;
  width: 20 px;
  display: inline;
  margin-left: 5%;
}
.image .deleteButton:hover {
  background-color: rgb(204, 199, 199);
  color: black;
}
.image img {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
header h1 {
  color: white;

  left: 20%;
}

.login_page {
  right: 0%;
  position: fixed;
}
header {
  background-color: #5ab8e5;
  color: white;
  postion: fixed;
  height: 15%;
  padding-top: 3%;
  top: 0;
  left: 0;
  width: 100%;
}
.Main-Part p {
  text-align: center;
  color: white;
  text-size: 48;
}
footer {
  position: fixed;
  background-color: #5ab8e5;
  bottom: 0;
  left: 0;
  width: 100%;
}
div {
  margin: 0;
}
nav {
  margin: 0;
  float: left;
  text-align: center;
  left: 10%;
  width: 15%;
  font-size: 24;
  color: white;
}
nav ul {
  left: 0;
  display: none;
  list-style: none;
  margin: 0;
}
nav:hover ul {
  display: block;
}

nav ul li a {
  color: white;
  margin-left: 10%;
}
nav ul li a:hover {
  color: black;
}
