.grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  width: 80%;
  height: 500 px;
}
img {
  margin: 10%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  margin: 5%;
}
